{% extends 'base.html.twig' %}
{% block title %}isoftBet -ADD NEW TRANSACTION!{% endblock %}
{% block sidebar_left  %}
      {% include 'AppBundle:Shared:sidebar-left.html.twig' %}
{% endblock sidebar_left %}
{% block content  %}
    <div class="content">
          <div class='row text-center'>
                <div class="col-md-12"
                    <h2> Add New Customer</h2>
                    <h2 class="text-left">
                        <a href="{{path('customer_list')}}" class="btn btn-default" style="float:right">BACK TO CUSTOMER LIST</a>
                    </h2>
                </div>
          </div>
          <div class='row'>
              <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <lable>Choose Customer</lable>
                        {{form_widget(form.customer_id,{attr:{'class':'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <lable>Amount</lable>
                        {{form_widget(form.amount,{attr:{'class':'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Create Customer</a>
                    </div>
                    {{ form_end(form) }}
              </div>
          </div>
    </div>
{% endblock content%}
