{% extends 'base.html.twig' %}
{% block sidebar_left  %}
      {% include 'AppBundle:Shared:sidebar-left.html.twig' %}
{% endblock sidebar_left %}
{% block content  %}
<div class="row">
    <div class="col-md-12">
      <h2 class="text-left">Customer List
        <a href="{{path('transaction_add')}}" class="btn btn-default" style="float:right">CREATE NEW TRASACTION</a>
      </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#Transaction Id</th>
            <th scope="col">CustomerId</th>
            <th scope="col">Amount</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Created @</th>
            <th scope="col">Updated @</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% if transactions %}
            {% for transaction in transactions %}
                <tr>
                  <th scope="row">#{{transaction.getId}}</th>
                  <td>{{transaction.getCustomer.getCnp }}</td>
                  <td>{{transaction.getAmount }}</td>
                  <td>{{transaction.getType=='C'?'CREDIT':'DEBIT'}}</td>
                  <td>{{transaction.getCreatedat|date('Y-m-d') }}</td>
                  <td>{{transaction.getUpdatedat|date('Y-m-d') }}</td>
                  <td>
                        <a href="{{path('transaction_edit',{'transactionid':transaction.getId} )}}" class="btn btn-default">EDIT</a>
                        <a href="{{path('transaction_delete',{'transactionid':transaction.getId} )}}" class="btn btn-default" onclick="deleteTransaction(this)">DELETE</a>
                  </td>

                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content%}
