{% extends 'base.html.twig' %}
{% block sidebar_left  %}
      {% include 'AppBundle:Shared:sidebar-left.html.twig' %}
{% endblock sidebar_left %}
{% block content  %}
<div class="row">
    <div class="col-md-12">
      <h2 class="text-left">Customer List
        <a href="{{path('customer_add')}}" class="btn btn-default" style="float:right">ADD NEW CUSTOMER</a>
      </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#Customer Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Cnp</th>
            <th scope="col">Balance</th>
            <th scope="col">Created @</th>
          </tr>
        </thead>
        <tbody>
          {% if customers %}
          {% for customer in customers %}
              <tr>
                <th scope="row">#{{customer.getId}}</th>
                <td>{{customer.getName }}</td>
                <td>{{customer.getCnp }}</td>
                <td>{{customer.getBalance }}</td>
                <td>{{customer.getCreatedat|date('Y-m-d') }}</td>
              </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content%}
