{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
<div class="row text-center">
        <div class=col-md-12">
              <div class='row'>
                    {% if error %}
                        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}

              </div>
              <div class='row'>
                      <img src="{{asset('bundles/app/img/User-icon.png')}}" alt="user" width="150" height="150">
              </div>
              <div class='row'>
                  <form action="{{ path("fos_user_security_check") }}" method="post">
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                      <div class="form-group">
                          <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                      </div>
                      <div class="form-group">
                          <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                          <input type="password" id="password" name="_password" required="required" />
                      </div>
                      <div class="form-group">
                          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                          <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                      </div>
                     <div class="form-group">
                      <input class ="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                     <div class="form-group">
                  </form>
              </div>
        </div>
</div>
{% endblock content %}
